<!DOCTYPE HTML5>
<html>

<head>
    <link rel="stylesheet" href="styles/base.css">
</head>

<body>

    <header>

    </header>
    <main>
        <form action="/yes" method="POST">
            <input type="text" name="search" value="title" required>
            <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
            </label>
            <label for="author">
                <span>Author</span>
                <input type="radio" name="search" value="author" required>
            </label>

        </form>
    </main>

</body>


</html>